certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.2
dask==0.17.2
ez-setup==0.9
gunicorn==19.8.1
idna==2.6
kiwisolver==1.0.1
lxml==4.2.1
munch==2.3.1
pipenv==11.10.0
postgres==2.2.1
psycopg2==2.7.4
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
pytzdata==2018.4
Rtree==0.8.3
six==1.11.0
stop-words==2015.2.23.1
tzlocal==1.5.1
virtualenv==15.2.0
virtualenv-clone==0.3.0
web.py==0.40.dev1
zope.interface==4.5.0