<!DOCTYPE html>
<html lang="en">




    <head>




        <title>Gokmen Oz</title>

        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>

    </head>




    <body>
      <form method="post" action="">
        <h1>
        Price Distribution Plots
        </h1>
        <br>
        Please select a game
        <br><br>
        <select id="userinfoform" name="userinfoform">
        <option selected>Counter Strike</option>
        <option>Player Unknown</option>
        </select>
        <p>
          <input type='submit' name="price" value='Show' />
        </p>
      </form>




      <div class="container">




            <img src="static/img/accuracy.png" style="width:700px;height:420px;">
      </div>




    </body>




</html>
